fsh_smoke_test/
marfoglia_*
msk_chord_mtb/
testing3/
testing_*
e6_*

!testing_acme_full_spec/
!testing_capable_full_spec/
!testing_eterminservice_full_spec/
!testing_evo13_full_spec/
!testing_hddt_full_spec/
!testing_hmb_full_spec/
!testing_kds_bildgebung_full_spec/
!testing_kds_biobank_full_spec/
!testing_kds_diagnose_full_spec/
!testing_kds_icu_full_spec/
!testing_kds_laborbefund_full_spec/
!testing_kds_medikation_full_spec/
!testing_kds_molgen_full_spec/
!testing_kds_onkologie_full_spec/
!testing_kds_person_full_spec/
!testing_kds_prozedur_full_spec/
!testing_medmij_dental_full_spec/
!testing_ndhm_full_spec/
!testing_nictiz_cio_full_spec/
!testing_ontario_ps_full_spec/
!testing_unseen_aucore/
!testing_unseen_aucore_full_spec/
!testing_unseen_bbmri/
!testing_unseen_bbmri_full_spec/
!testing_unseen_bfarm/
!testing_unseen_bfarm_full_spec/
!testing_unseen_dkrehab/
!testing_unseen_dkrehab_full_spec/
!testing_unseen_epamed/
!testing_unseen_epamed_full_spec/
!testing_unseen_eulab/
!testing_unseen_eulab_full_spec/
!testing_unseen_fikanta/
!testing_unseen_gdir/
!testing_unseen_gdir_full_spec/
!testing_unseen_impfpass/
!testing_unseen_imr/
!testing_unseen_imr_full_spec/
!testing_unseen_isik/
!testing_unseen_isik_full_spec/
!testing_unseen_pocd/
!testing_unseen_pocd_full_spec/
!testing_unseen_senll/
!testing_unseen_senll_full_spec/
!testing_unseen_ukcore/
!testing_unseen_ukcore_full_spec/
!testing_uscore_full_spec/

!marfoglia_full/

full_profile/